@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "Master.cshtml";
}
<div class="fold">
    <div class="fold__content">
        <header class="fold__header">
            <h1 class="fold__title">@CurrentPage.title</h1>
            <p class="fold__subtitle">@CurrentPage.description</p>
        </header>
    </div>
</div>
<section class="login-page">
	@Html.Partial("Login")
</section>