@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = null;
}

<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <header>
            @Html.Partial("MainNavigation")
        </header>
        <main>
            @RenderBody()
        </main>
        <footer>

        </footer>
    </body>
</html>