@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "Master.cshtml";
}


@{ 
    var user = umbraco.helper.GetCurrentUmbracoUser();
    
}

<div class="fold">
    <div class="fold__content">
        <header class="fold__header">
            <h1 class="fold__title">@CurrentPage.title</h1>
            <p class="fold__subtitle">@CurrentPage.description</p>
        </header>
    </div>
</div>

@Html.Partial("ImageUpload")