@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@* REMEBER ORDER BY DATE PICKER *@ 
@{ var selection = CurrentPage.Children.Where("Visible"); }

@if (selection.Any())
{
    <ul>
        @foreach (var item in selection)
        {
            <li>
                <a href="@item.Url">@item.Name</a>
            </li>
        }
    </ul>
}